body {
  text-align: center;
}
h1 {
 color: steelblue;
}
img {
  width: 800 px; 
  border: 4px solid steerblue:
}
p 
{
  .main-para {
  font-size: 1.5em;
  line-height: 1.5em;
padding: 10px;
}
footer {
    background-color: steelblue;
     color: white;
}
